NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAvM8_JhJdJfkDnEU59ln3bbDh-VYUIY6U
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=taskforge-de417.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=taskforge-de417
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=taskforge-de417.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1003830595308
NEXT_PUBLIC_FIREBASE_APP_ID=1:1003830595308:web:2805dfd84ae9fb7a849fc9
